/* globbing for the various partial Sass files of this component */
/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
.icon--icon-usp:before {
  display: inline-block;
  height: 3.785em;
  width: 4.16em;
  font-size: 0.39062rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: 0em 0em;
  background-size: 11.5em 11.125em;
  content: "";
}

.icon--test:before {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  font-size: 0.25rem;
  background-image: url("../images/generated/sprite.svg");
  background-position: -4.625em -4.25em;
  background-size: 11.5em 11.125em;
  content: "";
}

body::after {
  content: "bp-xs";
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 0.625rem;
  background: red;
  visibility: hidden;
  opacity: 0;
}

body.theme-debug-mode::after {
  visibility: visible;
}

@media (min-width: 768px) {
  body::after {
    content: "bp-sm";
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ffce00;
  }
}

@media (min-width: 940px) {
  body::after {
    content: "bp-md";
    position: fixed;
    bottom: 0;
    right: 0;
    background: yellow;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: "bp-lg";
    position: fixed;
    bottom: 0;
    right: 0;
    background: green;
  }
}

/* stylelint-disable */
/* stylelint-enable */
.block--type-cb-download .field__item--name-field-cb-media-unlimited,
.media--view-mode-search-result .field__item--name-field-cb-media-unlimited {
  margin-bottom: 0.3125rem;
}

.block--type-cb-download .file-download,
.media--view-mode-search-result .file-download {
  position: relative;
  display: block;
  background: none;
  transition: all 0.3s ease-in-out;
}

.block--type-cb-download .file-download::before,
.media--view-mode-search-result .file-download::before {
  content: "\f15b";
  display: inline-block;
  margin: -4px 5px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #2b3470;
}

.block--type-cb-download .file-download-image::before,
.media--view-mode-search-result .file-download-image::before {
  content: "\f1c5";
  display: inline-block;
  margin: -4px 5px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #2b3470;
}

.block--type-cb-download .file-download-pdf::before,
.media--view-mode-search-result .file-download-pdf::before {
  content: "\f1c1";
  display: inline-block;
  margin: -4px 5px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
  color: #2b3470;
}

@media (min-width: 1200px) {
  .layout--1-col--content-blocks .block--type-cb-download .field-cb-title,
  .layout--1-col--content-blocks .block--type-cb-download .field-cb-subtitle,
  .layout--1-col--content-blocks .block--type-cb-download .field-cb-teaser,
  .layout--1-col--content-blocks .block--type-cb-download .field-cb-text,
  .layout--1-col--content-blocks .block--type-cb-download .field--type-string-long,
  .layout--1-col--content-blocks .block--type-cb-download .field--type-text-long,
  .layout--1-col--content-blocks .block--type-cb-download .field--type-string {
    max-width: 75%;
  }
}
