////////////////////////////////////////////////////////////////////////////////
// *
// * Download content block
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.block--type-cb-download,
.media--view-mode-search-result {

  .field__item--name-field-cb-media-unlimited {
    margin-bottom: rem(5);
  }

  // * File link
  // =============================================================================

  .file-download {
    position: relative;
    display: block;
    background: none; // remove drupal's default file icons

    // another default te replace icon
    @include font-awesome((icon: $fa-var-file, type: "light", color: $color-spot-3, margin: -4px 5px 0 0));
    transition: all $duration $easing;
  }

  .file-download-image {
    @include font-awesome((icon: $fa-var-file-image, type: "light", color: $color-spot-3, margin: -4px 5px 0 0));
  }

  .file-download-pdf {
    @include font-awesome((icon: $fa-var-file-pdf, type: "light", color: $color-spot-3, margin: -4px 5px 0 0));
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .layout--1-col--content-blocks .block--type-cb-download {

    .field-cb-title,
    .field-cb-subtitle,
    .field-cb-teaser,
    .field-cb-text,
    .field--type-string-long,
    .field--type-text-long,
    .field--type-string {
      max-width: (100% / 12 * 9);
    }
  }
}
